<a href="https://colab.research.google.com/github/Meena0809/AI-5-Day-Workshop/blob/master/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(0,10):
  if i%2==0:
    print(i,"Even")
  else:
    print(i,"odd")

Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd
Even
odd

In [ ]:
while(i<10):
  if i%2==0:
    print(i,"Even")
  else:
    print(i,"odd")
  i=i+1

In [ ]:
n=13
print(type(n))

<class 'int'>

In [ ]:
list1=[20,30,40]
print(list1)

[20, 30, 40]

In [ ]:
list1=[20,30,40]
print(type(list1))

<class 'list'>

In [ ]:
list1=[20,30,40]
list1.append(60)
print(list1)

[20, 30, 40, 60]

In [ ]:
list2=[10,"read",56,4.5,"IOT",45.6]
intlist=[]
strlist=[]
floatlist=[]
for i in list2:
  if type(i)==str:
    strlist.append(i)
  elif type(i)==int:
    intlist.append(i)
  elif type(i)==float:
    floatlist.append(i)
print(intlist ,strlist ,floatlist)

[10, 56] ['read', 'IOT'] [4.5, 45.6]

In [ ]:
#list comprehension
intlist=[i for i in list2 if type(i)==int]
strlist=[i for i in list2 if type(i)==str]
floatlist=[i for i in list2 if type(i)==float]
print(intlist,strlist,floatlist)
list2[1][1]

[10, 56] ['read', 'IOT'] [4.5, 45.6]

'e'

In [ ]:
def sum(x,y):
  return x+y

In [ ]:
#create fun that will separate the elements of list acc to datatype
def separate(n):
  intlist=[i for i in n if type(i)==int]
  strlist=[i for i in n if type(i)==str]
  floatlist=[i for i in n if type(i)==float]
  return intlist,strlist,floatlist
y=[13,"meena",9.5]
print(separate(y))
sep_list=separate(y)
for i in sep_list:
  print(i)

([13], ['meena'], [9.5])
[13]
['meena']
[9.5]

In [ ]:
#recurssive fun
def recursum(n):
  if(n<=1):
    return n
  return n+recursum(n-1)
n=10
print(recursum(n))

55

In [ ]:
def recur_fib(n):
  if n<=1:
    return (n)
  else:
    return (recur_fib(n-1)+recur_fib(n-2))
n=5
for i in range(n):
  print(recur_fib(i))

0
1
1
2
3

In [ ]:
def recur_fact(n):
  if n<=1:
    return (n)
  else:
    return(n*recur_fact(n-1))
n=5
print(recur_fact(n))

120

In [ ]:
#generator fun
def gen_num(n):
  v=0
  while v<n:
    yield v
    v+=1
for v in gen_num(5):
  print(v)
print(gen_num(3))
print(next(gen_num(3)))

value=gen_num(3)
print(next(value))

print(next(value))

0
1
2
3
4
<generator object gen_num at 0x7dedaa06bd10>
0
0
1

In [ ]:
dict1={
    "Jay":[1998,"Hyd"],"prajyot":[1995,"Hyd"],"sunil":[1998,"delhi"],"sonu":"Hyd"
}
for i in dict1.keys():
  print(i)
print(dict1["Jay"])
print(dict1["Jay"][0])
#counting no.of lists in dict1
count=0
for i in dict1.keys():
  if type(dict1[i])==list:
    count=count+1
  count
print(count)

Jay
prajyot
sunil
sonu
[1998, 'Hyd']
1998
3

In [ ]:
# eerror handling
x=50
y=0

try:
    x/y
except:
    print("your code has error")

your code has error

In [ ]:
dict1["Jay"][1][0]

'H'

In [ ]:
x=50
y=6
try:
  x/y
except:
  print("your code has error")
else:
  print(x/y)
finally:
  print("your code has run successfully")

8.333333333333334
your code has run successfully

In [ ]:
dict1={"Joy":[1998,"Hyd"],"sunil":[1999,"delhi"],"gita":[1999,"Hyd"]}
import pandas as pd
df=pd.DataFrame(dict1)
print(df)
df.to_csv("dictionary.csv")# creates csv file

    Joy  sunil  gita
0  1998   1999  1999
1   Hyd  delhi   Hyd

In [ ]:
file=open("text1.txt",'w')
file.write("this is first line")#it will erase prev.data& writes given data
file.close()

In [ ]:
file=open("text1.txt",'a')
file.write("this is second line")
file.close()

In [ ]:
file=open("text1.txt",'r')
file.read()

'this is first linethis is second linethis is second linethis is second linethis is second linethis is second line'

In [ ]:
file=open("text1.txt",'r')
file.readlines()

['this is first linethis is second linethis is second linethis is second linethis is second linethis is second line']

In [ ]:
with open("text1.txt",'r') as file:
  print(file.read())

this is first linethis is second linethis is second linethis is second linethis is second linethis is second line

In [1]:
#find largest word in file